<h4 class="ui center aligned medium icon header">
  <i class="circular users icon violet inverted"></i>
  Hae a blether
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <%= render 'feed' %>
  </div>

  <div class="four wide column">
    <%= render 'rhs_menu' %>
  </div>
</div>


